<div class="row" ng-controller="FacebookCtrl">
    <div class="col-md-4">
        <h4>{{fbc.welcomeMsg}}</h4>
        <a target="_blank" href="{{fbc.responseRes.link}}"><img ng-src="{{fbc.responseRes.picture.data.url}}" ng-if="fbc.responseRes.picture.data.url"/></a>
        <button type="button" class="btn btn-default" ng-if="!fbc.isLoggedIn" ng-click="fbc.logIn()">Login</button>
        <button type="button" class="btn btn-default" ng-if="fbc.isLoggedIn" ng-click="fbc.logOut()">Logout</button>
        <br/>
        <br/>
        <!--<div id="spin"></div>-->
        <user-info></user-info>
        <br/>
        <user-permission></user-permission>
    </div>
    <div class="col-md-8">
        <h3>Welcome to Facebook !!!!</h3>
        <user-submit></user-submit>
        <user-posts></user-posts>
    </div>
    <div id="userPost"></div>
</div>